header {
    position: relative;
}

header img {
    max-width: 100%;
}

header h1 {
    background-color: #444444;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    margin-top: -3px;
    font-size: 7vw;
}

h2 {
    font-size: 5vw;
    text-align: center;
    margin-top: 2vw;
}

input[type="text"] {
    width: 90%;
    margin: 1vw;
    border-radius: 1vw;
}

footer {
    background-color: #444444;
    height: 40px;
}

form, .box {
    background-color: #444444;
    margin: 3vw;
    padding: 3vw;
    text-align: center;
    border-color: #888888;
    border-width: 1px;
    border-style: solid;
    border-radius: 1vw;
}

button {
    margin-top: 3vw;
    border-radius: 1vw;
}

#results-img {
    width: 100%;
}
#camera {
    text-align: center;
}