#datepicker {
    width: 15%;
    text-align: center;
}

.icon-menu {
    font-size: 3em;
    text-align: right;
    position: absolute;
    top: 0px;
    right: 3px;
}

.main-nav {
    padding: 0.1em;
    display:block;
}

.main-nav ul {
    display: none;
    background-color: rgba(59, 59, 59, 0.7);
    padding: 0;
    list-style: none;
    width: 100%;
    clear: both;
    position: absolute;
    top: 0px;
    left: 0px;
}

.main-nav:hover ul {
    display: block;
}

.main-nav li {
    width: 100%;
    font-size: 1.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #ccc;
}

.main-nav a {
    padding-left: .5em;
}

a:link, a:hover, a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

#landing img {
    width: 65%;
    margin: 1%;
}

#about-us img {
    width: 65%;
    border-radius: 50%;
    margin: 5%;
}

h3 {
    font-size: 4vw;
}

#login, #create-account, #account, #explorer, #results, #about-us {
    display: none;
    /* hides these sections for initial load */
}

#login-form p {
    margin-top: 2.5vw;
}

#no-favorites {
    text-align: center;
    margin: 5%;
}