
/* @media only screen and (max-width: 385px) { */
    #datepicker {
        width: 40%;
        text-align: center;
    }
    
    select {
        width: 40%;
    }
    
    a:link, a:hover, a:visited {
        color: #FFFFFF;
        text-decoration: none;
    }
    
    #login, #create-account, #account, #explorer, #results, #about-us, #hero-image, #manifest {
        display: none;
        /* hides these sections for initial load */
    }
    
    #login-form p {
        margin-top: 2.5vw;
    }
    
    .logged-in-saved span {
        color: #FF0000;
    }
    
     #no-favorites {
        text-align: center;
        margin: 5%;
    }
    
    #manifest h4 {
        text-align: center;
        padding-top: 3%;
        padding-bottom: 2%;
        font-weight: bold;
        font-size: 3.8vw;
    }
    #manifest p {
        margin: 1% 20% 0 20%;
        font-size: 3.3vw;
        text-align: center;
        font-weight: bold;
    }
    
    #manifest p span {
        font-weight: normal;
    }
    
    #manifest p:last-child {
        padding-bottom: 3%
    }
/* } */

@media only screen and (max-width: 650px) and (min-width: 386px) {
    
    a:link, a:hover, a:visited {
        color: #FFFFFF;
        text-decoration: none;
    }
        
    #login-form p {
        margin-top: 2.5vw;
    }
    
    .logged-in-saved span {
        color: #FF0000;
    }
    
     #no-favorites {
        text-align: center;
        margin: 5%;
    }
    
    #manifest h4 {
        text-align: center;
        padding-top: 3%;
        padding-bottom: 2%;
        font-weight: bold;
        font-size: 3.8vw;
    }
    #manifest p {
        margin: 1% 20% 0 20%;
        font-size: 3.3vw;
        text-align: center;
        font-weight: bold;
    }
}

@media only screen and (min-width: 650px) {
    #login-form p {
        margin-top: 2.5vw;
    }

    .logged-in-saved span {
        color: #FF0000;
    }

    #no-favorites {
        text-align: center;
        margin: 5%;
    }

    #manifest h4 {
        text-align: center;
        padding-top: 3%;
        padding-bottom: 2%;
        font-weight: bold;
        font-size: 3.8vw;
    }
    #manifest p {
        margin: 1% 20% 0 20%;
        font-size: 3.3vw;
        text-align: center;
        font-weight: bold;
    }

    #manifest p span {
        font-weight: normal;
    }

    #manifest p:last-child {
        padding-bottom: 3%
    }

    #landing .box {
        margin: 0;
        padding: 10px 10px 20px 10px;
    }
    .rovers {
        width: 46%;
        display: inline-block;
    }
    
    .rovers a {
        display: block;
        padding: 0;
        margin: 0;
    }
    
    .rovers h3 {
        padding: 10px 0 10px 0;
        font-size: 20px;
    }

    .rovers:first-child {
        margin-left: 20px;
        margin-right: 0;
    }

    .rovers:last-child {
        margin-right: 20px;
        margin-left: 0;
    }
    
    #landing img {
        margin: 0;
    }
}