header img {
  width: 100%;
}

header {
  position: relative;
}

header h1 {
  font-family: 'Orbitron';
  font-weight: bold;
  background-color: #444444;
  color: #FFFFFF;
  text-align: center;
  margin-top: -3px;
  font-size: 8.5vw;
  padding-top: 7%;
  padding-bottom: 5%;
}

.icon-menu {
  font-size: 3em;
  text-align: right;
  position: absolute;
  top: 5px;
  right: 5px;
}

.main-nav {
  padding: 0.1em;
  display: block;
}

.main-nav ul {
  display: none;
  background-color: rgba(59, 59, 59, 0.7);
  padding: 0;
  list-style: none;
  width: 100%;
  clear: both;
  position: absolute;
  top: 0px;
  left: 0px;
}

.main-nav:hover ul {
  display: block;
}

.main-nav li {
  width: 100%;
  font-size: 1.5em;
  padding-top: .5em;
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
}

.main-nav a {
  padding-left: .5em;
}

@media only screen and (min-width: 650px) {
  .icon-menu {
    display: none;
  }

  header {
    max-height: 500px;
  }

  header img {
      z-index: -99;
      max-height: 100%;
      position: fixed;
  }

  header {
      position: relative;
  }
  
  header h1 {
      z-index: 99;  
      font-size: 6vw;
      display: block;
      background-color: rgba(59, 59, 59, 0.7);
      margin-top: 37vw;
  }

  .main-nav {
    display: block;
    width: 50%;
  }

  .main-nav ul {
      display: inline-block;
      font-size: 1.65vw;
      background: none;
      /* position: fixed; */
  }

  .main-nav li {
      display: inline;
      padding: 0px;
      margin: 0px;
      border: none;
  }

  .main-nav a {
    float: right;
    padding: 0px;
  }

  .main-nav span {
      display: none;
  }

  .main-nav a {
      margin: 1.5vw;
  }

  a:link, a:hover, a:visited {
      color: #FFFFFF;
      text-decoration: none;
  }
}

@media only screen and (min-width: 750px) {
  .main-nav ul {
    font-size: 1.45vw;
  }

  header {
    max-height: 550px;
  }

  header h1 {
    margin-top: 30vw;
    padding: 3.5vw;
  }
}